export default {
  firebase: {
    projectId: "",
    appId: "",
    storageBucket: "",
    apiKey: "",
    authDomain: "",
    messagingSenderId: ""
  },
  pins: {
    led: "13",
    switch: "12",
    motor: "11",
    thermometer: "A0",
    photoresistor: "A1"
  },
  thermometerDriver: "LM35",
  refreshInterval: 6000,
  boardless: false,
}