export const environment = {
  domain: 'ubi-61a39.firebaseapp.com',
  production: false,
  firebase: {
    projectId: '',
    appId: '',
    storageBucket: '',
    apiKey: '',
    authDomain: '',
    messagingSenderId: '',
  }
};
