export default {
  firebase: {
    projectId: "",
    appId: "",
    storageBucket: "",
    apiKey: "",
    authDomain: "",
    messagingSenderId: ""
  },
  vapid: {
    mailto: "",
    publicKey: "",
    privateKey: ""
  },
  pins: {
    led: "13",
    switch: "12",
    motor: "11",
    motion: "10",
    thermometer: "A0",
    photoresistor: "A1"
  },
  thermometerDriver: "LM35",
  photoresistorFrequency: 250,
  maxTemp: 50,
  refreshInterval: 6000,
  boardless: false
}